*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

main{
  width: 60%;
  margin:100px auto;
  background-color: deepskyblue;
}

.container-prod, .container-prod2{
    float: left;
    width: 32%;
    margin-right: 2%;
}

.container-prod3{
  float: right;
  width: 32%;
}


.prod-img img {
  position: relative;
  height: 100%;
  width: 100%;
}

.prod-img{
  position: relative;
}

.heart{
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 25px;
}

.discount-container{
  position: absolute;
  left: 0;
  bottom:30px;
}

.discount, .sosten { 
  color: white;
  font-size: 18px;
  padding: 3px;
  text-align: center;
}

.discount{
  background-color: red;
  margin-right: 2px;
}

.sosten { 
  background-color: green;
}

.price{
  color:red;
}

.old-price{
  text-decoration: line-through ;
  margin-left: 5px;
  color:black;
}







