body{
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

main{
  width: 60%;
  margin:100px auto;
}

.container-prod, .container-prod2{
    float: left;
    width: 32%;
    margin-right: 2%;
}

.container-prod3{
  float: right;
  width: 32%;
}

h5{
  font-weight: 750;
}

.prod-img img {
  height: 100%;
  width: 100%;
}

.prod-img{
  position: relative;
}

.prod-img:hover .img-hover {
  display: block;
}

.img-hover {
  display: none;
}

.prod-img .img-hover {
  position: absolute;
  left: 0;
  top: 0;
}

.heart{
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 25px;
}

.discount-container{
  position: absolute;
  left: 0;
  bottom:30px;
}

.discount, .sosten { 
  color: white;
  font-size: 15px;
  padding: 3px;
  text-align: center;
}

.discount{
  background-color: red;
  margin-right: 2px;
}

.sosten { 
  background-color: green;
}

.price{
  color:red;
}

.old-price{
  text-decoration: line-through ;
  margin-left: 5px;
  color:black;
}







